body {
    color: rgb(0, 0, 0);
    container-type: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(4, 27, 61);
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.name1, .altura1, .peso1 {
    background-color: rgb(43, 43, 43);
    border: none;
    margin-left: 150px;
    margin-top: 10px;
    color: white;
    padding: 10px 10px;
}

.title {
    color: rgb(43, 43, 43);
    margin-left: 135px;
    margin-top: 50px;
    font-size: 40px;
}

.button1 {
    border: none;
    padding: 12px 12px;
    margin-left: 200px;
    margin-top: 20px;
    border-radius: 30%;
    color: rgb(52, 122, 134);
    background-color: rgb(19, 19, 19);
}

.button1:hover {
    background-color: rgb(52, 122, 134);
    color: rgb(43, 43, 43);
    transition: 1s;
}

.container {
    background-color: rgb(76, 130, 180);
    border-radius: 5%;
    margin-left: 680px;
    margin-top: 200px;
    width: 500px;
    height: 550px;
    padding: 20px; 
    color: white;
}

.result-container { 
    background-color: black;
    justify-content: flex;
    color: white;
    border-radius: 9%;
    margin-top: 20px; 
    margin-left: 40px;
    padding: 40px; 
    width: 70%; 
    height: 90px;
    font-size: 24px; 
    align-self: center;
    display: none;
}

#resultMsg {
    color: rgb(8, 199, 183);
    margin-top: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#link1 {
    margin-left: 80px;
    color: black;
    text-decoration: none;
    display: none;
}

#link1:hover {
    color: white;
    transition-duration: 1s;
}

#rights {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 10px;
}